<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="resources/css/login.css">
</head>
<body>
    <main>
        <div class="form-container">
             <h1>Iniciar sesión</h1>
             <p>Ingresa tus credenciales para acceder a tu cuenta de radicación</p>
             <form action="/auth" method="POST">
                <label for="nombre" class="sr-only">user</label>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre de usuario" required >
                <label for="contrasena" class="sr-only">user</label>
                <input type="password" name="contrasena" id="contrasena" placeholder="Ingresa tu contraseña" required>
                <input type="submit" class="btn-Save" value="login">
                <p class="error escondido" class>Error al iniciar sesión</p>
             </form>
             <p>¿Todavía no tenés una cuanta? - <a href="register">Registrate</a></p>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
        <% } %>
    
</body>
   
</html>